# PostgreSQL
PGHOST=localhost
PGPORT=5432
PGDATABASE=cerberus
PGUSER=cerberus
PGPASSWORD=tu-contraseña-aqui

# RabbitMQ
RABBITMQ_HOST=164.68.108.39
RABBITMQ_PORT=5672
RABBITMQ_USER=xxxxxxxx
RABBITMQ_PASSWORD=xxxxxxxx